// ------------------------- colors ------------------------- //

$back-color: #fcfcff;
$overlay-color: rgba(0, 0, 0, 0.514);
$back-loader-color: #f2f0eb;

$content-color: rgb(0, 0, 0); // font
$active-nav-color: #F7882F; // active .nav-link, 
$highlight-color: #4EC5C1; // emphasize
$highlight2-color:#F7882F; // #s

// ------------------------- sizes ------------------------- //

$line-height: 1.5;
$font-weight: 300;

:export {
    primaryColorOne: $highlight-color;
    primaryColorTwo: $highlight2-color;
}