// colors
$back-color: #fcfcff;
// $nav-color: #24305E;
// $underline-color: #3d348b;
$content-color: rgba(0, 0, 0, 0.829); // font
$active-nav-color: #F7882F; // active .nav-link, 
$highlight-color: #4EC5C1; // emphasize
$highlight2-color:#F7882F; // #s

// sizes
$line-height: 1.5;
$font-weight: 300;