// ------------------------- colors ------------------------- //

$back-color: #fcfcff;
$overlay-color: rgba(0, 0, 0, 0.514);
$back-loader-color: #f2f0eb;

$content-color: rgb(0, 0, 0); // font
$active-nav-color: #FB8500; // active .nav-link, 
$highlight-color: #3dccc7; // emphasize
$highlight2-color:#FB8500; // #s

// '#F7882F' (orange), '#4EC5C1' (blue)

// ------------------------- sizes ------------------------- //

$line-height: 1.5;
$font-weight: 300;