@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap");
:export {
  primaryColorOne: #4EC5C1;
  primaryColorTwo: #F7882F;
}

html {
  font-family: "Fira Code", monospace;
  font-weight: 300;
  height: 100%;
}

body {
  background-color: #fcfcff;
  margin: 0;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: #fcfcff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin-top: 0px;
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 1;
}
header .title {
  margin-left: 25px;
  margin-top: 2px;
  letter-spacing: 0px;
  line-height: 1.5;
  font-weight: bold;
  font-family: "Montserrat";
  font-size: 25px;
  color: rgb(0, 0, 0);
}
header .nav-link {
  margin-right: 25px;
  letter-spacing: 0px;
  line-height: 1.5;
  font-weight: bold;
  display: inline-block;
  position: relative;
  font-family: "Montserrat";
}
header .nav-link a {
  color: rgb(0, 0, 0);
  font-size: 16px;
  text-decoration: none;
}
header .nav-link a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  display: block;
  position: absolute;
  height: 2px;
  left: 50%;
}
header .nav-link a:hover:after {
  background: #F7882F;
  width: 100%;
  left: 0;
}

.hidden {
  transition: 0.75s ease-in-out;
  visibility: hidden;
}

.show {
  transition: 0.5s ease-in-out;
  visibility: visible;
}

.active {
  bottom: 0;
  content: "";
  color: #F7882F !important;
}

#home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 20px 0px 20px 0px;
  color: rgb(0, 0, 0);
  background-image: url("../images/home-bckgnd2.png");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

#home-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  margin: 0;
  width: 75%;
  min-width: 330px;
  line-height: 1.5;
  color: rgb(0, 0, 0);
  text-align: center;
}

#about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  color: rgb(0, 0, 0);
}

#about-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  margin: 0;
  width: 75%;
  min-width: 330px;
  line-height: 1.5;
}

#cs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
}

#cs-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  margin: 0;
  width: 75%;
  min-width: 330px;
  line-height: 1.5;
  text-align: center;
}

#cs-gallery {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 85%;
  min-width: 800px;
  height: 75%;
  overflow: hidden;
  text-align: center;
}
#cs-gallery .project_pic {
  width: 800px;
  height: 1500px;
}
#cs-gallery .project {
  position: relative;
  width: 20%;
  height: 80%;
  overflow: hidden;
  margin: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
#cs-gallery .project:hover {
  transform: scale(1.05);
  cursor: pointer;
}
#cs-gallery .project:hover .project-title {
  color: rgba(0, 0, 0, 0.514);
}
#cs-gallery .project:hover .overlay {
  height: 35%;
}
#cs-gallery .project .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fcfcff;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.4s ease;
  opacity: 0.7;
}
#cs-gallery .overlay-text {
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#cs-gallery .overlay-icon {
  position: absolute;
  top: 0%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  text-align: right;
  display: block;
  padding: 10px;
  padding-top: 20px;
  margin-top: 20px;
}
#cs-gallery .overlay-icon i {
  color: rgba(0, 0, 0, 0.514);
  margin: 0px 10px;
}
#cs-gallery .overlay-icon i:hover {
  color: #F7882F;
  transition: 0.25s ease-in-out;
}
#cs-gallery .project-title {
  position: absolute;
  text-align: center;
  top: 30%;
  width: 90%;
  padding-left: 5%;
  word-wrap: break-word;
  font-size: 25px;
  font-weight: bold;
  font-family: "Montserrat";
}
#cs-gallery .project-subtitle {
  position: absolute;
  width: 95%;
  padding: 2.5%;
  word-wrap: break-word;
  text-align: center;
  bottom: 0;
  font-size: 16px;
  font-weight: bold;
}

#writing {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  background-image: url("../images/writing-bckgnd2.png");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#writing-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 20px;
  width: 75%;
  height: 30%;
}

#writing-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-width: 330px;
  line-height: 1.5;
  text-align: center;
}

h {
  font-size: 30px;
  font-weight: bold;
  font-family: "Montserrat";
  padding-bottom: 20px;
}

p {
  font-size: 18px;
  margin: 10px;
}
p .emphasize {
  color: #4EC5C1;
  font-weight: bold;
}
p a {
  color: #F7882F;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  position: relative;
}
p a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  background: #F7882F;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  display: block;
  position: absolute;
  height: 2px;
  left: 50%;
}
p a:hover:after {
  width: 100%;
  left: 0;
}

.hidden {
  opacity: 0;
}

.console {
  font-size: 35px;
  text-align: center;
  height: 75px;
  width: 80%;
  display: block;
  position: static;
  color: rgb(0, 0, 0);
  margin-top: 65px;
  padding: 10px;
  font-family: "Fira Code", monospace;
  font-weight: bold;
}

.console-underscore {
  display: inline-block;
  position: relative;
  top: 0em;
  left: 4px;
  font-family: "Fira Code", monospace;
}

#title_pic {
  height: 30px;
  width: auto;
  padding-top: 5px;
}

#profile_pic {
  height: 355px;
  width: auto;
  margin: 20px;
  border-radius: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

icon-bar-home {
  color: rgb(0, 0, 0);
  text-align: center;
  display: block;
  padding: 10px;
  padding-top: 20px;
}
icon-bar-home i {
  color: rgb(0, 0, 0);
  margin: 0px 10px;
}
icon-bar-home i:hover {
  color: #F7882F;
  transition: 0.25s ease-in-out;
}

icon-bar-footer {
  color: rgb(0, 0, 0);
  text-align: center;
  display: block;
  padding: 10px;
  padding-top: 20px;
}
icon-bar-footer i {
  color: rgb(0, 0, 0);
  margin: 0px 5px;
}
icon-bar-footer i:hover {
  color: #F7882F;
  transition: 0.25s ease-in-out;
}

footer {
  color: rgb(0, 0, 0);
  font-size: 16px;
  text-align: center;
  padding: 10px;
  position: relative;
}

.project-h {
  font-size: 30px;
  font-weight: bold;
  font-family: "Montserrat";
  padding-bottom: 20px;
  float: bottom;
}

subheader {
  font-size: 25px;
  font-weight: bold;
  font-family: "Montserrat";
  margin-left: 10px;
}

#image-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 75%;
  width: 75%;
}

#project_lg_pic {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.info-graphic {
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  color: rgb(0, 0, 0);
}

.info-content-container {
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
  position: relative;
  color: rgb(0, 0, 0);
}

.info-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: block;
  height: auto;
  margin: 0;
  width: 75%;
  line-height: 1.5;
}

#iframe-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
}

iframe {
  width: 80%;
  height: 75%;
}

.loader {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f2f0eb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fadedOut {
  animation: fadeOutLoader 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOutLoader {
  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}/*# sourceMappingURL=main.css.map */